* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* HEADER */
header {
    background-color: #3161e0;
    position: fixed;
    width: 100%;
    padding: 20px 0;
}

.container-header{
    width: 80%;
    margin: 0 auto;
}

.logo-discord {
    display: inline-block;
}

nav, ul, li{
    display: inline-block;
    color: white;
    text-align: center;
}

.btn-accedi {
    background-color: white;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 20px;
}

.col-dx{
    float: left;
    width: 25%;
    text-align: right;

}

.col-centr{
    float: left;
    width: 50%;
    text-align: center;
}

.col-sx{
    float: left;
    width: 25%;
    text-align: left;

}

/* HERO */